/* styles.css */

body {
    background-color: #333; /* Gris foncé */
    color: white; /* Texte blanc */
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 1px; 

}

img {
    width: 100px; /* Ajuste la taille des images selon tes besoins */
}

.popup {
    display: none;
    position: absolute;
    background: #333;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

li:hover .popup {
    display: block;
}
